* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    margin-inline: auto;
}

.slider__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
}

.slider__controls-btn {
    position: relative;
    font-size: 2em;
    background-color: transparent;
    color: #2793d1;
    border: none;
    cursor: pointer;
}

.slider__controls-btn--play {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.slider__controls-btn-prev {
    order: 1;
}

.slider__controls-btn-next {
    order: 3;
}

.slider__points {
    order: 2;
    display: flex;
    column-gap: 2px;
}

.slider__points span {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.slider__points span.active {
    width: 20px;
    height: 20px;
    background-color: #2793d1;
    border-radius: 50%;
    cursor: pointer;
}

.slider__list {
    position: relative;
    width: 500px;
    height: 200px;
}

.slider__item {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: #fff;
    border-radius: 8px;
    font-size: 5rem;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.slider__item:nth-child(1) {
    background-color: #2793d1;
    color: #004167;
    opacity: 1;
}

.slider__item:nth-child(2) {
    background-color: #d1ba27;
    color: #584c00
}

.slider__item:nth-child(3) {
    background-color: #74d127;
    color: #245000
}

.slider__item:nth-child(4) {
    background-color: #ce27d1;
    color: #610063
}

.slider__item:nth-child(5) {
    background-color: #d1275a;
    color: #5b001b
}